[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "drgee"]
	path = drgee
	url = https://github.com/cran/drgee
	shallow = true
	registered = true
